.chat-main
  .chat-main__header
    .chat-main__header__groupinfo
      .chat-main__header__groupinfo__groupname
        = @group.name
      .chat-main__header__groupinfo__memberlist
        Member : 
        %ul
          - @group.users.each do |user|
            %li= user.name
          
    = link_to edit_group_path(current_user), class: "edit-btn" do
      Edit
  .chat-main__chatspace
    = render @messages
    

  .chat-main__form
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .post__message
        = f.text_field :body, class: 'post__message__text', placeholder: 'type a message'
        = f.label :image, class: 'post__message__image' do
          = icon('fas', 'image')
          = f.file_field :image, class: 'post__message__file'
      = f.submit 'Send', class: 'submit-btn'
      
  


