.side-bar
  .side-bar__header
    .side-bar__header__userinfo
      .side-bar__header__userinfo__name
        = current_user.name
      .side-bar__header__userinfo__btn
        = link_to new_group_path(current_user), class: "userinfo-btn-edit" do
          = icon('fas', 'edit')
        = link_to edit_user_path(current_user), class: "userinfo-btn-cog" do
          = icon('fas', 'cog')  
  .side-bar__groups
    - current_user.groups.each do |group|
      .side-bar__groups__group
        = link_to group_messages_path(group) do
          .side-bar__groups__group__name
            = group.name
          .side-bar__groups__group__message
            = group.show_last_message