.side-bar
  .side-bar__header
    .side-bar__header__userinfo
      .side-bar__header__userinfo__name
        = current_user.name
      .side-bar__header__userinfo__btn
        = link_to "#", class: "userinfo-btn-edit" do
          = icon('fas', 'edit')
        = link_to edit_user_path(current_user), class: "userinfo-btn-cog" do
          = icon('fas', 'cog')  
  .side-bar__groups
    .side-bar__groups__name
      映画
    .side-bar__groups__message
      まだメッセージがありません  
    .side-bar__groups__name
      漫画
    .side-bar__groups__message
      まだメッセージがありません
    .side-bar__groups__name
      ドラマ
    .side-bar__groups__message
      まだメッセージがありません